div {
    text-align: center;
    background-color: #64f8fd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
  
    h1 {
      color: #343a40;
      margin-bottom: 20px;
    }
  }
  